/node-modules/*
.env
.clinerules

#logs
src/logs/
logs/

/lil_bro.egg-info/*
.venv
/src/__pycache__/*
**/__pycache__/*
uv.lock

# .gitignore
.claude/skills/gstack/
.claude/skills/browse/dist/

build/
dist/

## LHM / PawnIO build artifacts
/tools/lhm-server/bin
/tools/lhm-server/obj
/tools/lhm-server/dist/

/tools/PawnIO/cmake-build-*/
/tools/PawnIO/dist/
/tools/PawnIO_Latest_Check/resources/archive/
/tools/PawnIO_Latest_Check/version.json
/tools/PawnIO_Latest_Check/_extract_temp/
/tools/PawnIO_Latest_Check/resources/PawnIO_setup.exe

#Dcos
/docs/LibreHardwareMonitor/
/docs/completed/


lil_bro_actions.log
lil_bro_debug.log
lil_bro.spec

/resolve